<!doctype html>
<html lang="en">

<head>
	<script src="https://code.jquery.com/jquery-3.6.0.js"
			integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="fontawesome-free-5.15.2-web/css/all.css">
	<!--Custom CSS -->
	<link rel="stylesheet" href="css/style.css">
	<title>Home - Fight COVID</title>
	
	<style>
    @media (min-width: 575.98px) {
      .container {
        width: 90%;
      }

      .col-md {
        padding-left: 0%;
      }

    }

    /* Small devices (landscape phones, larger than 768px) */
    @media (min-width: 767.98px) {
      .container {
        width: 80%;
      }

      .col-md {
        padding-left: 0%;
      }

      .yes-button-div {
        margin-left: 20%;
      }

      .no-button-div {
        margin-right: 20%;
      }
    }

    /* Medium devices (tablets, larger than 992px) */
    @media (min-width: 991.98px) {
      .container {
        width: 70%;
      }
    }

    /* Large devices (desktops, larger than 1200px) */
    @media (min-width: 1199.98px) {
      .container {
        width: 55%;
      }

      .yes-button-div {
        margin-left: 40%;
      }

      .no-button-div {
        margin-right: 40%;
      }

    }

    .article {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .q-button {
      padding: auto;
      min-width: 11.25rem;
      min-height: 2.5rem;
      border: none;
      background-color: #6090c0;
      color: white;
      font-size: medium;
      border-radius: 0.25rem;
      transition-duration: 0.35s;
    }

    .q-button:hover {
      background-color: #083a55;
    }

    .q-button:focus {
      background-color: #083a55;
      outline: 0;
    }

    .submit-button {
      padding: auto;
      min-width: 300px;
      min-height: 50px;
      border: none;
      background-color: #095797;
      color: white;
      font-size: medium;
      border-radius: 4px;
      transition-duration: 0.35s;
    }

    .submit-button:hover {
      background-color: #0A69B7;
    }

    .submit-button:focus {
      background-color: #095797;
      outline: 0;
    }

    .submit-button:disabled {
      background-color: #f7f7f7;
      color: #bfbfbf;
    }

    /* ul {
        list-style-type: disc !important;
        padding-left: 1em !important;
        margin-left: 1em;
    } */
  
	</style>
</head>

<body>


<header>
	
	<div id="pageHeader">
		<div class="container-fluid">
			<nav class="navbar navbar-light navbar-expand-md" style="background-color:#68a8d3;">
				<a class="navbar-brand" href="">
					<img src="images/stopcovid.jpg" width="50px" alt="">
				</a>
				<button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler"><span
						class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navbarToggler">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="/index"><i class="fas fa-home"></i>Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/news">News</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/aboutus">About us</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">Registration</a>
							
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/user_reg">Patient registration</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/doctor_reg">Doctor registration</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/nurse_reg">Nurse registration</a>
							</div>
						
						</li>
					
					</ul>
					
					<div class="collapse navbar-collapse">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i>Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin"><i class="fas fa-user"></i>Admin</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		
		</div>
	</div>

</header>
<!-- End of Header-->

<div class="container" style="margin-top: 10%; font-size: 1.25rem;; line-height: 150%;">
	<label>ID: </label> <p id="patientID"></p>
	<label>Name: </label> <p id="patientName"></p>
	<div class="article">
		<!-- question 1 -->
		<div class="row">
			<p>Are you having difficulty breathing? For example, do you feel like you're out of breath or
				suffocating?</p>
		</div>
		
		<div class="row">
			<p class="font-weight-bold">OR</p>
		</div>
		
		<div class="row">
			<p>Do you have a lot of trouble breathing even when at rest, such as shortness of breath that makes it
				hard to speak?</p>
		</div>
		
		<div class="row">
			<div class="col-md" style="margin-top: 5%;">
				<div class="yes-button-div">
					<button id="q1-yes" class="q-button">Yes</button>
				</div>
			</div>
			
			<div class="col-md" style="margin-top: 5%;">
				<div class="no-button-div">
					<button id="q1-no" class="q-button">No</button>
				</div>
			</div>
		</div>
		
		<div id="q2-4" style="display: none;">
			<!-- question 2 -->
			<div id="q2" style="display: none;">
				<div class="row" style="margin-top: 10%;">
					<p>Please select an age range</p>
				</div>
				
				<div class="row">
					<div class="col-md" style="margin-top: 5%;">
						<div>
							<button id="q2-1" class="q-button">6 months–5 years</button>
						</div>
					</div>
					
					<div class="col-md" style="margin-top: 5%;">
						<div>
							<button id="q2-2" class="q-button">6–17 years</button>
						</div>
					</div>
					
					<div class="col-md" style="margin-top: 5%;">
						<div>
							<button id="q2-3" class="q-button">18 years+</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- question 3 -->
			<div id="q3" style="display: none;">
				<!-- question 3(6 months–5 years) -->
				<div id="q3-1" class="row" style="margin-top: 5%;">
					<p>Is your child experiencing ANY of the following symptoms?</p>
					
					<ul class="text-secondary">
						<li>Fever (38.5°C rectal temperature (101.3°F) or higher)</li>
						<li>Cough (new or worse), shortness of breath, or difficulty breathing</li>
						<li>Runny nose or nasal congestion or sore throat<br>
							AND<br>
							fever (38.1°C rectal temperature (100.6°F) or higher)
						</li>
						<li>Abdominal pain, vomiting, or diarrhea<br>
							AND<br>
							fever (38.1°C rectal temperature (100.6°F) or higher)
						</li>
					</ul>
				</div>
				
				<!-- question 3(6–17 years/18 years+) -->
				<div id="q3-2" class="row" style="margin-top: 5%; display: none;">
					<p id="q3-2-1">Does your child have ANY of the following symptoms?</p>
					<p id="q3-2-2" style="display: none;">Are you experiencing ANY of the following symptoms?</p>
					
					<ul class="text-secondary">
						<li>Fever (oral temperature 38.1°C (100.6°F) or higher)</li>
						<li>Sudden loss of sense of smell (anosmia) without nasal congestion,<br>
							with or without loss of taste
						</li>
						<li>Recent cough or worsening of a chronic cough</li>
						<li>Shortness of breath</li>
						<li>Trouble breathing</li>
						<li>Sore throat</li>
						<li>Runny nose or congestion (of unknown cause)</li>
					</ul>
				</div>
				
				<div class="row">
					<div class="col-md" style="margin-top: 5%;">
						<div class="yes-button-div">
							<button id="q3-yes" class="q-button">Yes</button>
						</div>
					</div>
					
					<div class="col-md" style="margin-top: 5%;">
						<div class="no-button-div">
							<button id="q3-no" class="q-button">No</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- question 4 -->
			<div id="q4" style="display: none;">
				<div class="row" style="margin-top: 5%;">
					<p id="q4-1">Does your child have any 2 of the following symptoms?</p>
					<p id="q4-2" style="display: none;">Are you experiencing at least 2 of the following symptoms?
					</p>
					
					<ul class="text-secondary">
						<li>Stomach aches</li>
						<li>Nausea or vomiting</li>
						<li>Diarrhea</li>
						<li>Major fatigue</li>
						<li>Significant loss of appetite</li>
						<li>Generalized muscle pain (not related to physical exertion)</li>
						<li>Headache</li>
					</ul>
				</div>
				
				<div class="row">
					<div class="col-md" style="margin-top: 5%;">
						<div class="yes-button-div">
							<button id="q4-yes" class="q-button">Yes</button>
						</div>
					</div>
					
					<div class="col-md" style="margin-top: 5%;">
						<div class="no-button-div">
							<button id="q4-no" class="q-button">No</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- question 5 -->
			<div id="q5" style="display: none;">
				<div id="q5-1" class="row" style="margin-top: 5%;">
					<p>Are you or the person who is going to get tested in one of the situations below?</p>
					<ul class="text-secondary">
						<li>Is 0 to 3 months old</li>
						<li>Is experiencing an obstruction of nasal passages other than normal<br>
							congestion
						</li>
						<li>Is currently having a nosebleed episode</li>
						<li>Has had a nosebleed episode in the past week</li>
						<li>Has undergone any of the following types of surgery:</li>
						<ul>
							<li>Mouth surgery in the past week?</li>
							<li>Nose surgery in the past month (adult) OR</li>
							<li>Nose surgery in the past 3 weeks (child)</li>
						</ul>
						<li>Is currently wheezing.</li>
					</ul>
				</div>
				
				<div class="row">
					<div class="col-md" style="margin-top: 5%;">
						<div class="yes-button-div">
							<button id="q5-yes" class="q-button">Yes</button>
						</div>
					</div>
					
					<div class="col-md" style="margin-top: 5%;">
						<div class="no-button-div">
							<button id="q5-no" class="q-button">No</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<hr style="margin-top: 8%; border-top: 1px dashed grey;">
		
		<!-- submit -->
		<div class="col-12" style="margin-top: 1%; margin-bottom: 5%;">
			<div class="text-center">
				<button id="submit" class="submit-button shadow-sm" disabled>Submit</button>
			</div>
		</div>
		<input type="hidden" name="q1" id="q1ans">
		<input type="hidden" name="q2" id="q2ans">
		<input type="hidden" name="q3" id="q3ans">
		<input type="hidden" name="q4" id="q4ans">
		<input type="hidden" name="q5" id="q5ans">
	</div>
</div>


<script>
  
  window.onload = function() {
      var patientName = localStorage.getItem("patientName");
      var patientID = localStorage.getItem("patientID");
      document.getElementById("patientName").innerHTML = patientName;
      document.getElementById("patientID").innerHTML = patientID;
  };
    var q1Answer = -1, q2Answer = -1, q3Answer = -1, q4Answer = -1, q5Answer = -1;
    var patientID = localStorage.getItem("patientID");

    document.getElementById("q1-yes").addEventListener("click", function () {
      q1Answer = 1;
      q2Answer = -1;
      q3Answer = -1;
      q4Answer = -1;
      q5Answer = -1;

      document.getElementById("q1-yes").innerHTML = "✓ Yes";
      document.getElementById("q1-no").innerHTML = "No";

      document.getElementById("q2-4").style.display = "none";

      document.getElementById("submit").disabled = false;
    });

    document.getElementById("q1-no").addEventListener("click", function () {
      q1Answer = 0;
      q2Answer = -1;
      q3Answer = -1;
      q4Answer = -1;
      q5Answer = -1;

      document.getElementById("q1-yes").innerHTML = "Yes";
      document.getElementById("q1-no").innerHTML = "✓ No";

      document.getElementById("q2-4").style.display = "block";

      document.getElementById("q2").style.display = "block";

      document.getElementById("submit").disabled = true;
    });

    document.getElementById("q2-1").addEventListener("click", function () {
      q2Answer = 1;
      q3Answer = -1;
      q4Answer = -1;
      q5Answer = -1;

      document.getElementById("q2-1").innerHTML = "✓ 6 months–5 years";
      document.getElementById("q2-2").innerHTML = "6–17 years";
      document.getElementById("q2-3").innerHTML = "18 years+";

      document.getElementById("q3-yes").innerHTML = "Yes";
      document.getElementById("q3-no").innerHTML = "NO";

      document.getElementById("q4-yes").innerHTML = "Yes";
      document.getElementById("q4-no").innerHTML = "No";

      document.getElementById("q5-yes").innerHTML = "Yes";
      document.getElementById("q5-no").innerHTML = "No";

      document.getElementById("q3").style.display = "block";

      document.getElementById("q3-1").style.display = "block";
      document.getElementById("q3-2").style.display = "none";

      document.getElementById("q4").style.display = "none";
      document.getElementById("q5").style.display = "none";

      document.getElementById("submit").disabled = true;
    });

    document.getElementById("q2-2").addEventListener("click", function () {
      q2Answer = 2;
      q3Answer = -1;
      q4Answer = -1;
      q5Answer = -1;

      document.getElementById("q2-1").innerHTML = "6 months–5 years";
      document.getElementById("q2-2").innerHTML = "✓ 6–17 years";
      document.getElementById("q2-3").innerHTML = "18 years+";

      document.getElementById("q3-yes").innerHTML = "Yes";
      document.getElementById("q3-no").innerHTML = "NO";

      document.getElementById("q4-yes").innerHTML = "Yes";
      document.getElementById("q4-no").innerHTML = "No";

      document.getElementById("q5-yes").innerHTML = "Yes";
      document.getElementById("q5-no").innerHTML = "No";

      document.getElementById("q3").style.display = "block";

      document.getElementById("q3-1").style.display = "none";
      document.getElementById("q3-2").style.display = "block";
      document.getElementById("q3-2-1").style.display = "block";
      document.getElementById("q3-2-2").style.display = "none";

      document.getElementById("q4").style.display = "none";
      document.getElementById("q5").style.display = "none";

      document.getElementById("submit").disabled = true;
    });

    document.getElementById("q2-3").addEventListener("click", function () {
      q2Answer = 3;
      q3Answer = -1;
      q4Answer = -1;
      q5Answer = -1;

      document.getElementById("q2-1").innerHTML = "6 months–5 years";
      document.getElementById("q2-2").innerHTML = "6–17 years";
      document.getElementById("q2-3").innerHTML = "✓ 18 years+";

      document.getElementById("q3-yes").innerHTML = "Yes";
      document.getElementById("q3-no").innerHTML = "NO";

      document.getElementById("q4-yes").innerHTML = "Yes";
      document.getElementById("q4-no").innerHTML = "No";

      document.getElementById("q5-yes").innerHTML = "Yes";
      document.getElementById("q5-no").innerHTML = "No";

      document.getElementById("q3").style.display = "block";

      document.getElementById("q3-1").style.display = "none";
      document.getElementById("q3-2").style.display = "block";
      document.getElementById("q3-2-1").style.display = "none";
      document.getElementById("q3-2-2").style.display = "block";

      document.getElementById("q4").style.display = "none";
      document.getElementById("q5").style.display = "none";

      document.getElementById("submit").disabled = true;
    });

    document.getElementById("q3-yes").addEventListener("click", function () {
      q3Answer = 1;
      q4Answer = -1;
      q5Answer = -1;

      document.getElementById("q3-yes").innerHTML = "✓ Yes";
      document.getElementById("q3-no").innerHTML = "No";

      document.getElementById("q4-yes").innerHTML = "Yes";
      document.getElementById("q4-no").innerHTML = "No";

      document.getElementById("q5-yes").innerHTML = "Yes";
      document.getElementById("q5-no").innerHTML = "No";

      document.getElementById("q4").style.display = "none";
      document.getElementById("q5").style.display = "block";

      document.getElementById("submit").disabled = true;
    });

    document.getElementById("q3-no").addEventListener("click", function () {
      q3Answer = 0;
      q4Answer = -1;
      q5Answer = -1;

      document.getElementById("q3-yes").innerHTML = "Yes";
      document.getElementById("q3-no").innerHTML = "✓ No";

      document.getElementById("q4-yes").innerHTML = "Yes";
      document.getElementById("q4-no").innerHTML = "No";

      document.getElementById("q5-yes").innerHTML = "Yes";
      document.getElementById("q5-no").innerHTML = "No";

      document.getElementById("submit").disabled = true;

      if (q2Answer == 1) {
        document.getElementById("q5").style.display = "none";

        document.getElementById("submit").disabled = false;
      }
      else if (q2Answer == 2) {
        document.getElementById("q4").style.display = "block";
        document.getElementById("q4-1").style.display = "block";
        document.getElementById("q4-2").style.display = "none";

        document.getElementById("q5").style.display = "none";
      }
      else if (q2Answer == 3) {
        document.getElementById("q4").style.display = "block";
        document.getElementById("q4-1").style.display = "none";
        document.getElementById("q4-2").style.display = "block";

        document.getElementById("q5").style.display = "none";
      }
    });

    document.getElementById("q4-yes").addEventListener("click", function () {
      q4Answer = 1;
      q5Answer = -1;

      document.getElementById("q4-yes").innerHTML = "✓ Yes";
      document.getElementById("q4-no").innerHTML = "No";

      document.getElementById("q5-yes").innerHTML = "Yes";
      document.getElementById("q5-no").innerHTML = "No";

      document.getElementById("q5").style.display = "block";

      document.getElementById("submit").disabled = true;
    });

    document.getElementById("q4-no").addEventListener("click", function () {
      q4Answer = 0;
      q5Answer = -1;

      document.getElementById("q4-yes").innerHTML = "Yes";
      document.getElementById("q4-no").innerHTML = "✓ No";

      document.getElementById("q5-yes").innerHTML = "Yes";
      document.getElementById("q5-no").innerHTML = "No";

      document.getElementById("q5").style.display = "none";

      document.getElementById("submit").disabled = false;
    });

    document.getElementById("q5-yes").addEventListener("click", function () {
      q5Answer = 1;

      document.getElementById("q5-yes").innerHTML = "✓ Yes";
      document.getElementById("q5-no").innerHTML = "No";

      document.getElementById("submit").disabled = false;
    });

    document.getElementById("q5-no").addEventListener("click", function () {
      q5Answer = 0;

      document.getElementById("q5-yes").innerHTML = "Yes";
      document.getElementById("q5-no").innerHTML = "✓ No";

      document.getElementById("submit").disabled = false;
    });

    document.getElementById("submit").addEventListener("click", function () {
    console.log("AAA");
    console.log(q1Answer);

    var q1,q2,q3,q4,q5;

      if(q1Answer == 0){
        q1 = "No";
      } else if(q1Answer == -1){
        q1 = "N/A";
      } else {
        q1 = "Yes";
      }

      if(q3Answer == 0){
        q3 = "No";
      } else if(q3Answer == -1){
        q3 = "N/A";
      } else {
        q3 = "Yes";
      }

      if(q4Answer == 0){
        q4 = "No";
      } else if(q4Answer == -1){
        q4 = "N/A";
      } else {
        q4 = "Yes";
      }

      if(q5Answer == 0){
        q5 = "No";
      } else if(q5Answer == -1){
        q5 = "N/A";
      } else {
        q5 = "Yes";
      }

      if(q2Answer == -1){
        q2 = "N/A";
      } else if(q2Answer == 1){
         q2 = "6 months - 5 years";
      } else if(q2Answer == 2){
          q2 = "6-17 years";
      } else {
          q2 = "18+ years";
       }

       console.log(q1, q2, q3, q4, q5);


     $.post('/self_assessmentform', {q1: q1, q2: q2, q3: q3, q4: q4, q5: q5, patientID: patientID});

     console.log("After php");
     
     window.location.replace("/user/"+patientID);

    });
  
</script>


<!-- Start of Footer-->
<!-- <footer class="pagefooter">
  <div class="container top-footer p-md-3 p-1">
	<div class="row">
	  <div class="col-md-3 pl-4 pr-4">
		<h5>Social Media</h5>
		<a style="color:silver;" href="https://www.facebook.com/coronavirus_info/"><i
			class="fab fa-2x fa-facebook-square"></i></a>
		<a style="color: silver;" href="https://twitter.com/infocovid_19?lang=en"><i
			class="fab fa-2x fa-twitter-square"></i></a>
		<a style="color: silver;" href="https://www.instagram.com/cdcgov/?hl=en"><i
			class="fab fa-2x fa-instagram"></i></a>
	  </div>

	  <div class="col-md-3  pl-4 pr-4">
		<h5>Important Links</h5>
		<a href="#">Privacy Policy</a><br>
		<a href="https://www.worldometers.info/coronavirus/">COVID cases across Globe </a><br>
		<a
		  href="https://santemontreal.qc.ca/en/public/coronavirus-covid-19/situation-of-the-coronavirus-covid-19-in-montreal/">Montreal
		  Active-cases </a><br>
	  </div>

	  <div class="col-md-3  pl-4 pr-4">
		<h5>Our Services</h5>
		<a href="#">COVID Testing </a><br>
		<a href="#">COVID Treatment</a><br>
	  </div>

	  <div class="col-md-3  pl-4 pr-4">
		<h5>Contact Us</h5>
		<a href="#"><i class="fas fa-phone"></i> +1 438-622-1234 </a><br>
		<a href="#"><i class="fas fa-envelope"></i> help@fightcovid.com </a><br>


	  </div>
	</div>
  </div>
  <div class="container-fluid bottom-footer pt-2">
	<div class="row">
	  <div class="col-12 text-center">
		<p>Copyrights © 2021 - All rights reserved</p>
	  </div>
	</div>
  </div>

</footer> -->


<!-- JavaScript -->
<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>